*{
	margin: 0; padding: 0;
}
a {
	text-decoration: none; display: block;
}
img {
	border: none;
}
ul li, ol li{
	list-style: none;
}

html, body {
    min-height: 100%;
}
body {
    background-size: cover;
    font-family: Arial, 'Open Sans', sans-serif;
    font-size: 13px;
}
body.page {
	background: #ffffff;
}
body.home-page{
	background: url("../assets/home-page.jpg") repeat-x fixed center;
}
@media (min-width: 1120px), (min-height: 630px) {
    body { background-size: auto; }
}

.wrapper{
	width: 1030px; margin: 0 auto;
}
.wrapper-2 {
	background: #ffffff;
}
.home-header {
	border-top: 5px solid #bb7700;
}
.home-nav {
	height: 40px; background: #0e8b01; margin-top: 0px;
}
.home-nav ul li {
	float: left; position: relative;
}
.home-nav ul li:hover {
	background: #bb7700;
}
.home-nav li ul{
	position: absolute; background: #0e8b01; display: none; width: 290px; z-index: 9999;
}
.home-nav ul li:hover ul{
	display: block;
}
.home-nav li ul li:hover{
	opacity: 0.5;
}
.home-nav li ul li{
	width: 100%;
}
.home-nav ul li a {
	text-transform: uppercase; color: #ffffff; line-height: 40px; padding: 0 30px;
}
.home-nav ul li a.icon-home {
	display: block; line-height: 40px; padding: 0 8px;
}
.home-nav ul li a.icon-home img {
	width: 30px; vertical-align: middle; margin-top: -5px;
}
.home-nav ul li h2 {
	font-size: 13px;
}

/**
 * Homepage
 * Css for homepage
 */
.home-right-bar {
	float: right;
}
h3.home-title-services{
	background: #bb7700; text-transform: uppercase; color: #ffffff; margin: 5px 0; padding: 15px 10px; text-align: center;
}
.home-service-item {
	background: #ffffff; margin-bottom: 5px; position: relative; width: 300px;
}
.home-service-item h1 {
	text-transform: uppercase; font-size: 15px; color: #0e8b01; text-align: center;
}
.home-service-item h1 a {
	color: #0e8b01; padding: 20px 10px; display: block;
}
.home-service-item h1 a:hover {
	background: #bb7700; color: #ffffff;
}
.home-service-item .home-descripton-service {
	background-color: #ffffff; opacity: 0.7; filter: alpha(opacity=70); position: absolute; top: 0px; left: -350px; width: 330px; padding: 5px 10px;
	display: none; text-align: justify;
}
.home-service-item .home-descripton-service p {
	color: #000000; font-weight: bold;
}
.home-service-item .home-descripton-service a {
	color: #000000; font-weight: bold; text-align: right; text-decoration: underline;
}
.home-service-item:hover .home-descripton-service {
	display: block;
}


.home-search {
	margin-bottom: 100px;
	width: 1030px; float: left; height: 35px; background: url("../assets/opacity.png") repeat-x;
}
form#search-simple input[type="text"] {
	background: transparent; border: none; color: white; width: 690px; height: 30px; line-height: 30px; padding: 2px 0 3px 40px;
	font-size: 14px; background-image: url("../assets/icon-search.png"); background-repeat: no-repeat; background-size: 28px;
	background-position: 5px 4px; 
}
form#search-simple input[type="text"]::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: white;
}

form#search-simple input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: white;
}

form#search-simple input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: white;
}

form#search-simple input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: white;
}

form#search-simple input[type="text"]::-ms-input-placeholder { /* Edge */
  color: white;
}

form#search-simple input[type="text"]:placeholder-shown { /* Standard one last! */
  color: white;
}
form#search-simple button {
	background: #bb7700; text-transform: uppercase; color: #ffffff; border: none; width: 300px; float: right; height: 35px;
	font-size: 18px; cursor: pointer;
}


.search-advanced {
	width: 1030px;
	position: fixed; bottom: 0; background: url("../assets/opacity.png") repeat-x; height: 70px;
}
.search-advanced h4.title-advanced {
	text-transform: uppercase; color: #ffffff; font-size: 15px; background: #0e8b01; float: left; padding: 5px 10px;
	margin-top: -28px; line-height: 18px;
}
form#search-advanced {
	margin-top: 10px; width: 100%; position: relative;
}
form#search-advanced .boxseach {
	position: absolute; left: 180px; top: -30px;
}
form#search-advanced .boxseach label {
	background: url("../assets/opacity.png") repeat-x; padding: 4px 8px; color: #ffffff; border-top-left-radius: 6px; border-top-right-radius: 6px;
}
form#search-advanced .formtimkiem {
	width: 113px; background: no-repeat; height: 30px;
}
form#search-advanced .formtimkiem select {
	width: 107px; float:left; margin-top: 3px; height:30px; border:1px solid #FFFFFF;
}
form#search-advanced .submit-top-main {
	background: #0e8b01; border: none; width: 300px; height: 32px; margin-top: 2px; font-weight: 500; font-size: 18px;
    color: #FFFFFF; float: right; cursor: pointer; text-transform: uppercase;
}


/**
 *
 * Nhà đất cấp 1
 */
.left .top-vip{
	width: 100%;
}
.title-top-vip{
	width: 100%; border-bottom: 1px solid #bb7700; margin-bottom: 8px;
}
.title-top-vip h1{
	text-transform: uppercase; font-size: 17px; background: #bb7700; display: inline-block;
    padding: 5px 15px 3px; line-height: 23px; border-top-left-radius: 3px; border-top-right-radius: 3px; color: #ffffff; font-weight: 500;
}
.left .list-top-vip {
	width: 723px; border: 1px solid #cccccc; padding: 10px;
}
.list-top-vip .top-vip-item {
	width: 355px; height: 232px; float: left; margin-bottom: 15px; position: relative;
}
.list-top-vip .top-vip-item:nth-child(2n) {
	margin-right: 0px; float: right;
}
.list-top-vip .top-vip-item a img {
	width: 100%;
}
.list-top-vip .top-vip-item a.tool-tip-title {
	background: url("../assets/opacity.png") repeat-x; position: absolute; bottom: 0; left: 0; height: 30px; color: #ffffff;
	padding: 8px 10px; text-transform: uppercase; font-weight: 600; word-spacing: normal;
}
.list-top-vip .top-vip-item a.tool-tip-title span {
	overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: -o-ellipsis-lastline;
	text-transform: uppercase; font-size: 12px; color: #ffffff;
}


/**
 * Dự án
 *
 */
.left .sreenspduan {
	width: 723px; float: left; border: 1px solid #cccccc; padding: 10px 10px 0 10px;
}
.left .sreenspduan .sreensp1 {
	margin-bottom: 15px; margin-right: 15px; width: 230px; float:left; height: 155px; position: relative;
}
.left .sreenspduan .sreensp1.last {
	margin-right: 0px;
}
.left .sreenspduan .sreensp1 .spduan {
	width: 230px; height: 155px;
}
.left .sreenspduan .sreensp1 a.tool-tip-title {
	background: url("../assets/opacity.png") repeat-x; position: absolute; bottom: 0; left: 0; height: 30px; color: #ffffff;
	padding: 8px 10px; text-transform: uppercase; font-weight: 600; word-spacing: normal; width: 210px;
}
.left .sreenspduan .sreensp1 a.tool-tip-title span {
	overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: -o-ellipsis-lastline;
	text-transform: uppercase; font-size: 12px; color: #ffffff;
}
.left .sreenspduan .line{
	margin: 0 -10px; border: none; background-color: #cccccc; height: 1px; width: 743px;
}

.left .chi-tiet-du-an .sreennoidungchitiet {
	width: 723px; float: left;
}
.left .chi-tiet-du-an .sreennoidungchitiet .sreentieudethitruong {
	width: 723px; float: left; margin: 0;
}
.left .chi-tiet-du-an .sreennoidungchitiet .sreentieudethitruong h1 {
	font-size: 25px; color: #bb7700;
}
.left .chi-tiet-du-an #divContents {
	float: left; width: 723px; margin: 10px 0;
}
.left .chi-tiet-du-an #divContents p {
	font-size: 13px; line-height: 18px; margin-bottom: 18px;
}

.main-tin-tuc .sreenspduan .line {width: 743px; margin: 10px -10px;}

.right .boxtimkiemduan .sreentimkiemduan {
	width: 268px; float: left;
}
.right .boxtimkiemduan .sreentimkiemduan .tieudetimkiemduan {
	width: 258px; float:left; padding: 5px 5px 5px 10px;
}
.right .boxtimkiemduan .sreentimkiemduan .tieudetimkiemduan p {
	width: 258px; float:left; color:#000000; font-weight:400; font-size:14px;
}
.right .boxtimkiemduan .sreentimkiemduan .sreenmenuseach {
	float:left; width:268px;
}
.right .boxtimkiemduan .sreentimkiemduan .sreenmenuseach select {
	float:left; margin-left: 10px; width: 250px; height: 30px; line-height: 30px; border:1px #CCCCCC solid;
}
.right .boxtimkiemduan .sreentimkiemduan.tim-kiem-du-an-button {
	height: 32px; margin: 10px 0;
}
.right .boxtimkiemduan .sreentimkiemduan.tim-kiem-du-an-button input[type="submit"] {
	background: url(../timkiem2.png); width: 100px; height: 32px; border: none; cursor: pointer; margin-left: 80px;
}


/**
 * Tin tức
 *
 */
.main-tin-tuc .cotleft {
	width: 100%; float: left;
}
.main-tin-tuc .cotleft .tintuctop {
	float: left; width: 100%;
}
.main-tin-tuc .cotleft .tintuctop .tintuctop-left {
	float: left; width: 575px; height: 372px; position: relative; padding: 5px; background: #ffffff; border: 1px solid #cccccc;
}
.main-tin-tuc .cotleft .tintuctop .tintuctop-left .hinhtintuctop {
	width: 575px; height: 373px; margin: 0;
}
.main-tin-tuc .cotleft .tintuctop .tintuctop-left .hinhtintuctop img {
	width: 575px; height: 373px; margin: 0;
}
.main-tin-tuc .cotleft .tintuctop .tintuctop-left a.tool-tip-title {
	background: url("../assets/opacity.png") repeat-x; position: absolute; bottom: 0; left: 0; height: 30px; color: #ffffff;
	padding: 8px 10px; text-transform: uppercase; font-weight: 600; word-spacing: normal; width: 555px; margin: 5px;
}
.main-tin-tuc .cotleft .tintuctop .tintuctop-left a.tool-tip-title span {
	overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: -o-ellipsis-lastline;
	text-transform: uppercase; font-size: 12px; color: #ffffff;
}

.main-tin-tuc .cotleft .tintuctop .tintuctop-right {
	float: right; width: 425px;
}
.main-tin-tuc .cotleft .tintuctop .tintuctop-right .tintuctop-right-item {
	width: 415px; height: 173px; margin-bottom:15px; border: 1px solid #cccccc; padding: 5px; position: relative;
}
.main-tin-tuc .cotleft .tintuctop .tintuctop-right .tintuctop-right-item .hinhtintuctopcon {
	width: 415px; height: 173px; 
}
.main-tin-tuc .cotleft .tintuctop .tintuctop-right .tintuctop-right-item .hinhtintuctopcon img {
	width: 415px; height: 173px; 
}
.main-tin-tuc .cotleft .tintuctop .tintuctop-right .tintuctop-right-item a.tool-tip-title {
	background: url("../assets/opacity.png") repeat-x; position: absolute; bottom: 0; left: 0; height: 30px; color: #ffffff;
	padding: 8px 10px; text-transform: uppercase; font-weight: 600; word-spacing: normal; width: 395px; margin: 5px;
}
.main-tin-tuc .cotleft .tintuctop .tintuctop-right .tintuctop-right-item a.tool-tip-title span {
	overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: -o-ellipsis-lastline;
	text-transform: uppercase; font-size: 12px; color: #ffffff;
}

.list-news-cat-item {
	width: 505px; float: left; margin-bottom: 15px;
}
.list-news-cat-item:nth-child(2n) {
	float: right;
}
.list-news-cat-item .list-news-cats {
	padding: 5px; width: 495px; border: 1px solid #cccccc;
}
.list-news-cat-item .list-news-cats .list-news-cats-item {
	float: left; width: 240px; position: relative; height: 155px;
}
.list-news-cat-item .list-news-cats .list-news-cats-item img {
	width: 240px; height: 155px;
}
.list-news-cat-item .list-news-cats .list-news-cats-item:nth-child(2n) {
	float: right;
}
.list-news-cat-item .list-news-cats .list-news-cats-item a.tool-tip-title {
	background: url("../assets/opacity.png") repeat-x; position: absolute; bottom: 0; left: 0; height: 30px; color: #ffffff;
	padding: 8px 10px; text-transform: uppercase; font-weight: 600; word-spacing: normal; width: 220px;
}
.list-news-cat-item .list-news-cats .list-news-cats-item a.tool-tip-title span {
	overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: -o-ellipsis-lastline;
	text-transform: uppercase; font-size: 12px; color: #ffffff;
}
.list-news-cat-item .list-news-cats .line {
	width: 505px; border-bottom: 1px solid #cccccc; margin: 10px -5px;
}

/*Tin tức col right*/

.news-detail {
	border: 1px solid #cccccc; padding: 10px;
}
.news-detail h1#ctl27_ctl01_divSummary {
	padding: 5px 0; font-size: 25px; color: #bb7700;
}
.news-detail p.date-time {
	color: #cccccc; font-style: italic;
}
.news-detail .nutmangxahoi {
	width: 723px; height:25px; margin-bottom:10px; margin-top:10px;
}
.news-detail #divContents {
	width: 723px; font-size:14px
}
.news-detail #divContents p {
	line-height: 18px; margin-bottom: 18px;
}
.news-detail .sreentag {
	width: 723px; height:18px; margin-bottom:10px;
}
.news-detail .sreentag p a {
	display: inline-block;
}

.news-related-project .news-related {
	width: 723px;
}
.news-related-project .news-related h3.title-news-related {
	text-transform: uppercase; color: #0e8b01; margin-bottom: 10px; border-bottom: 1px solid #555555; font-size: 17px; line-height: 18px;
}
.news-related-project .news-related .sreenspkhac {
	float: left; width: 231px; margin-right: 15px;
}
.news-related-project .news-related .sreenspkhac.sreenspkhac-three {
	margin-right: 0px;
}
.news-related-project .news-related .sreenspkhac .titleduankhac {
    height: 50px; float: left; width: 232px; text-align: justify; padding-top: 5px;
}
.news-related-project .news-related .sreenspkhac .titleduankhac a {
    width: 232px; font-weight: 500;
}
.news-related-project .news-related .line{
	border-bottom: 1px solid #afafaf; width: 743px; margin: 10px -10px;
}
.news-related-project .spkhac {
	float: left; width: 145px; height: 120px;
}
.news-related-project .titleduankhac {
	float: right; width: 200px;
}
.news-related-project .titleduankhac a {
	width: 200px;
}
.news-related-project .titleduankhac a:hover {
	
}
.news-related-project .titleduankhac p {
	width: 200px;
}


.news-detail .news-related {
	width: 723px;
}
.news-detail .news-related h3.title-news-related {
	text-transform: uppercase; color: #0e8b01; margin-bottom: 10px; border-bottom: 1px solid #555555; font-size: 17px; line-height: 18px;
}
.news-detail .news-related .sreenspkhac {
	float: left; width: 231px; margin-right: 15px;
}
.news-detail .news-related .sreenspkhac.sreenspkhac-three {
	margin-right: 0px;
}
.news-detail .news-related .sreenspkhac .titleduankhac {
    height: 50px; float: left; width: 232px; text-align: justify; padding-top: 5px;
}
.news-detail .news-related .sreenspkhac .titleduankhac a {
    width: 232px; font-weight: 500;
}
.news-detail .news-related .line{
	border-bottom: 1px solid #afafaf; width: 743px; margin: 10px -10px;
}


.news-right-item {
	border: 1px solid #cccccc; width: 268px; margin-bottom: 15px; float: left;
}
.news-right-item .news-right-title {
	width:270px; height:29px; float:right; background:#109502; font-size:16px; font-weight:bold; color:#FFFFFF; margin-top:0px; margin-bottom:8px;
}
.news-right-item .news-right-title p {
	margin-left:10px; margin-top:6px;
}
.news-right-item .news-right-content {
	width: 268px; float: left;
}
.news-right-item .news-right-content .sreennoibat {
	width: 258px; float: left padding: 5px;
}

.right .boxnoibat-main {
	float: left; padding: 10px 5px;
}
.right .boxnoibat-main .sreennoibat {
	float: left; margin-bottom: 10px; width: 257px;
}
.right .boxnoibat-main .sreennoibat .boxhinhxemnhieu {
	float: left; width: 100px;
}
.right .boxnoibat-main .sreennoibat .boxhinhxemnhieu img {
	width: 100px;
}
.right .boxnoibat-main .sreennoibat .tieudetinxemnhieu {
	float: right; width: 155px;
}
.right .boxnoibat-main .sreennoibat .tieudetinxemnhieu a {
	font-weight: 500; text-align: justify; color: #000000; font-size: 14px;
}
.right .boxnoibat-main .sreennoibat .tieudetinxemnhieu a:hover {
	color: #0e8b01;
}



.lists-top-1 {
	margin-top: 10px; width: 745px;
}
.lists-top-1 .lists-top-1-item {
	width: 745px;
}
.list-top-1, .list-top-1 .list-top-1s {
	width: 365px; margin-bottom: 10px;
}
.list-top-1:nth-child(2n) {
	float: right;
}
.list-top-1 .title-list-top-1 {
	width: 100%; border-bottom: 1px solid #000000; margin-bottom: 8px;
}
.list-top-1 .title-list-top-1 h1{
	text-transform: uppercase; font-size: 17px; background: #bb7700; display: inline-block; padding: 5px 15px 3px;
	line-height: 23px; border-top-left-radius: 3px; border-top-right-radius: 3px; color: #ffffff; font-weight: 500;
}
.list-top-1 .list-top-1s {
	padding: 10px 10px 0 10px; width: 343px; border: 1px solid #cccccc; border-radius: 2px;
}
.list-top-1 .list-top-1s .top-1-item {
	width: 165px; height: 130px; position: relative; margin-bottom: 15px;
}
.list-top-1 .list-top-1s .top-1-item:nth-child(2n) {
	float: right;
}
.list-top-1 .list-top-1s .top-1-item a img {
	width: 165px; height: 130px;
}
.list-top-1 .list-top-1s .top-1-item a.tool-tip-title {
	position: absolute; bottom: 0px; left: 0px; height: 38px; background: url("../assets/opacity.png") repeat-x;
	word-spacing: normal; padding: 5px;
}
.list-top-1 .list-top-1s .top-1-item a.tool-tip-title span {
	overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; text-overflow: -o-ellipsis-lastline;
	text-transform: uppercase; font-size: 10px; color: #ffffff;
}



.right .boxtimkiembds-simple {
	width: 270px; float: left; height: 32px; margin-bottom: 10px;
}
.right .boxtimkiembds-simple .main-search-simple {
	width: 270px; position: relative;
}
.main-search-simple input[type="text"] {
	position: absolute; top: 0; left: 0; height: 30px; border: 1px solid #cccccc; line-height: 30px; width: 150px; padding-right: 5px;
	padding-left: 30px; background: url("../assets/icon-search.png") no-repeat; background-size: 20px; background-position: 5px 5px;
}
.main-search-simple button {
	border: none; position: absolute; top: 0; right: 0; width: 75px; background: #0f9502; height: 32px; text-transform: uppercase;
	color: #ffffff; cursor: pointer; font-weight: 600;
}

.left-top-3 {
	width: 723px; padding: 10px; border: 1px solid #cccccc;
}


.main-du-an .top-du-an-open {
	background: #bb7700; width: 1010px; padding: 10px; margin-bottom: 15px;
}
.main-du-an .top-du-an-open ul {
	
}
.main-du-an .top-du-an-open ul li {
	float: left; border: 1px solid #cccccc; width: 233px; margin-right: 15px; border: 1px solid #cccccc; padding: 3px;
	position: relative; background-color: #ffffff;
}
.main-du-an .top-du-an-open ul li:last-child {
	margin-right: 0px;
}
.main-du-an .top-du-an-open ul li img{
	width: 228px; height: 200px;
}
.main-du-an .top-du-an-open ul li a.tool-tip-title{
	position: absolute; bottom: 0px; left: 0px; height: 38px; background: url("../assets/opacity.png") repeat-x;
	word-spacing: normal; padding: 5px; width: 223px; margin: 3px;
}
.main-du-an .top-du-an-open ul li a.tool-tip-title span {
	overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; text-overflow: -o-ellipsis-lastline;
	text-transform: uppercase; font-size: 10px; color: #ffffff; font-size: 12px;
}
.main-du-an .sreenspduan {
	margin-bottom: 15px;
}





/**
 * Css for sitemap
 *
 */
.sitemap-main {
	border: none;
}
.sitemap-main .noidunggioithieu {
	width: 723px; padding-bottom: 10px; float: left;
}
.sitemap-main .noidunggioithieu .linksite2 {
	margin-bottom:10px; font-size:15px;
}
.sitemap-main .noidunggioithieu .linksite2 a:hover {
	color: #0e8b01;
}
.sitemap-main .noidunggioithieu .linksite2 p {
	width: 100%; height:15px;
}

.sitemap-main .noidunggioithieu .linksite {
	margin-left: 25px; margin-bottom: 5px; font-size:14px;
}
.sitemap-main .noidunggioithieu .linksite p {
	width: 100%; height:15px;
}
.sitemap-main .noidunggioithieu .linksite a:hover  {
	color: #0e8b01;
}




/**
 * Css for footer
 *
 */
.footer-items{
	width: 990px; float: left; padding: 10px 20px;
}
.footer-items .footer-item{
	width: 25%; float: left;
}
.footer-items .footer-item h5{
	font-size: 18px; border-bottom: 1px solid #cccccc; text-transform: uppercase; width: 95%; color: #725a53; padding-top: 8px; font-weight: 500;
}
.footer-items .footer-item.address img{
	width: 95%;
}
.footer-items .footer-item.address p{
	padding: 2px 0; font-size: 13px;
}
.footer-items .footer-item.email-signup p{
	padding: 5px 0; font-size: 11px; color: #847f76; font-family: "Tahoma"; text-align: justify; width: 95%;
}
.footer-items .footer-item.social .social-main {
	width: 95%; text-align: center;
}
.footer-items .footer-item.social .social-main a {
	display: inline-block; padding: 5px;
}
.footer-items .footer-item.static p{
	padding: 5px 0 0px; font-size: 15px; color: #726d6d; font-family: "Tahoma";
}

.sreenadd {
	width:1030px; background-color:#d1d1d1; float:left; text-align: center; position: relative;
}
.sreenadd p {
	padding: 10px 0; font-size: 15px; color: #000000;
}
.sreenadd a.back-to-top {
	position: absolute; top: -20px; right: 0px;
}



.estates .hotnew {
	width: 745px;
}
.nutmangxahoi {
    width: 165px;
    float: right;
    overflow: hidden;
}
#___plusone_0{
    display: inline-block !important;
    line-height: 20px !important;
    width: 65px !important;
    margin-right: 5px !important;
}
.fb_iframe_widget{
    line-height: 8px !important;
    float: left;
    margin-right: 8px;
}



.sreennoidungchitiet{
	width:723px; float:left; margin-bottom:5px;
}
.developper-detail {
	color:#000000;width:100%;float:left;line-height: 20px;text-align: justify;font-size:14px;margin-top: 7px;
}
.sreenttin.add-left-right {
	width: 723px; float:left;
}
.add-left {width: 360px;}
.add-left .social-detail span {float: left;}
.add-left .add-left-item p{float:left; margin-top:7px; font-size: 14px; width: 100%;}

.add-right {width: 345px; float: right;}
.add-right .right-contact-customer {width: 330px;}